// colors
$color-white: #f3f2f4;
$color-blue-purp: linear-gradient(25deg, #2600fc, #ff00ea);
$bg-black: #0f051d;
$green: rgb(14, 203, 129);

 


$purple-blue-gradient: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
$purple-color: #933FFE;
$blue-color: #18C8FF;
$white-color: #fff;
$black-color: #000;
$pink-color: #B982FF;
$grey-color:#898CA9;