// colors
$green: #0DBB7C;
$red: #FF8282;

$purple-blue-gradient: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);


$purple-color: #933FFE;
$blue-color: #18C8FF;
$pink-color: #B982FF;


$white-color: #fff;
$white-trp-color: #ffffff4d;

$black-trp-color: #27274590; 
$black-color: #1d1b22; 

$dark-grey-color: #1A1B23;
$grey-color:#898CA9;
$grey-gradient: linear-gradient(to bottom left, #505455 0%, #bcbcbc99 100%);
