@use "./colours" as *;
@use "./typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  background-image: url("/public/home_bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  position: relative;
  font-family: $main-font;
  font-family: "Inter";
  padding: 0 4.5rem;

  @media (max-width: 700px) {
    width: 100%;
  }
  @media (max-width: 400px) {
    padding: 0 2rem;
  }
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// scroll

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $purple-color ;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: $dark-grey-color;
} 

*::-webkit-scrollbar-track-piece{
  background-color: $dark-grey-color;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $purple-color;
  border: 1px solid $dark-grey-color;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $pink-color;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $pink-color;
}

.loader {
  margin: 10rem auto;
  width: 64px;
  height: 64px; 
  position: relative;
  background-image: linear-gradient($pink-color 16px, transparent 0),
    linear-gradient($purple-color 16px, transparent 0),
    linear-gradient($purple-color 16px, transparent 0),
    linear-gradient($pink-color 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}
