// font families
$main-font: 'Inter', sans-serif;
   
$regular: 400;
$semiBold: 600;
$extraBold: 800;
$black: 900;

// font sizes
$h1-size: 4rem; //; 85px
$h2-size: 3.125rem; //; 50px
$h3-size: 2rem; //; 32px
$h4-size: 1.25rem; // 20px 
$text-big: 1rem; // 16px 
$text-medium: 0.875rem; // 14px 
$text-small: 0.75rem; // 12px 




