@use "../global/" as *;

.start-section {
  margin-top: -250px;
  padding-top: 250px;
  margin-bottom: 15rem;
  height: 100vh;

  @media (max-width: 800px) {
    margin-bottom: 0;
  }

  @media (max-width: 550px) {
    margin-bottom: 5rem;
  }
}

.start-content {
  color: $white-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;

  .start-content__info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10rem;
    gap: 10%;
    justify-content: center;

    @media (max-width: 800px) {
      margin-bottom: 9rem;
    }

    @media (max-width: 550px) {
      margin-bottom: 7rem;
    }
  }
  .start-content__info-text {
    text-align: left;
    line-height: 1.2;
    width: 55%;

    h2 {
      font-size: $h2-size;
      margin-bottom: 2rem;

      @media (max-width: 800px) {
        font-size: $h3-size;
      }

      @media (max-width: 550px) {
        font-size: $h4-size;
      }
    }
    p {
      font-size: $text-big;
      line-height: 1.5;
      margin-bottom: 1rem;
      color: $grey-color;

      @media (max-width: 550px) {
        font-size: $text-medium;
      }
    }
  }

  .start-content__info-img {
    width: 25%;
    height: auto;
    background-image: url(/public/blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .start-content_subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: $h2-size;
      margin-bottom: 2rem;

      @media (max-width: 800px) {
        font-size: $h3-size;
        margin-bottom: 1rem;
      }
      @media (max-width: 550px) {
        font-size: $h4-size;
      }
    }
    p {
      font-size: $text-big;
      line-height: 1.5;
      margin-bottom: 1rem;
      color: $grey-color;

      @media (max-width: 550px) {
        font-size: $text-medium;
      }

      span {
        color: $white-color;
        margin-left: 5px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;

      }
      svg {
        margin-left: 10px;
        font-size: 0.5rem;

        &:hover {
          transition: all 0.3s;
          background-clip: text;
          -webkit-background-clip: text;
          color: $pink-color;
      }
    }
    }

    .start__email-wrap {
      background: $purple-blue-gradient;
      border-radius: 10px;
      width: 304px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 800px) {
        font-size: $text-small;
        width: 200px;
        height: 40px;
      }

      .start__email_input {
        width: 302px;
        height: 54px;
        border: none;
        border-radius: 10px;
        background-color: $black-color;
        padding: 0 20px;
        color: $grey-color;

        @media (max-width: 800px) {
          width: 198px;
          height: 38px;
        }

        &:focus-visible {
          border: none;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}
