* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  background-image: url("/public/home_bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  font-family: "Inter";
  padding: 0 4.5rem;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #db00d9 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ba04b7;
  border: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ed00eb;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ed00eb;
}

.loader {
  margin: 10rem auto;
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(#B982FF 16px, transparent 0), linear-gradient(#933FFE 16px, transparent 0), linear-gradient(#933FFE 16px, transparent 0), linear-gradient(#B982FF 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  background-image: url("/public/home_bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  font-family: "Inter";
  padding: 0 4.5rem;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #db00d9 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ba04b7;
  border: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ed00eb;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ed00eb;
}

.loader {
  margin: 10rem auto;
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(#B982FF 16px, transparent 0), linear-gradient(#933FFE 16px, transparent 0), linear-gradient(#933FFE 16px, transparent 0), linear-gradient(#B982FF 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}
nav {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}
nav a {
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 0.875rem;
  padding: 3rem 6rem;
  align-items: center;
  color: #fff;
}
.navbar .navbar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  background-image: url(/public/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.navbar .btn-secondary {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 40px;
  border: 1px solid #fff;
  background-image: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.navbar .btn-secondary:hover {
  box-shadow: -2px 2px 10px 0px #fff;
}
.navbar .btn-secondary:active {
  box-shadow: -2px 2px 10px 0px #933FFE;
}
@media (max-width: 1000px) {
  .navbar .btn-secondary {
    display: none;
  }
}
.navbar .btn-main {
  width: 96px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.navbar .btn-main:hover {
  box-shadow: -2px 2px 10px 0px #fff;
}
.navbar .btn-main:active {
  box-shadow: -2px 2px 10px 0px #933FFE;
}
@media (max-width: 1000px) {
  .navbar .btn-main {
    display: none;
  }
}
.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
@media (max-width: 1000px) {
  .navbar ul {
    display: none;
  }
}
.navbar ul a {
  color: #f3f2f4;
  font-weight: 700;
}
.navbar ul a:hover {
  transition: all 0.3s;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
}
.navbar span {
  display: flex;
  gap: 1.5rem;
}
.navbar span i {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .navbar span i {
    display: none;
  }
}
.navbar span i:hover {
  transition: all 0.3s;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
}

.hamburger-menu {
  display: none;
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .hamburger-menu {
    display: flex !important;
  }
}

.sticky-nav {
  background-color: #1a1823;
  box-shadow: 0px 9px 20px 0px #1a1823;
  position: fixed;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #f3f2f4;
  z-index: 9999999;
  color: #0f051d;
  font-size: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
}
.mobile-nav ul a {
  color: #0f051d;
  font-weight: 600;
}
.mobile-nav ul a:hover {
  transition: all 0.3s;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
}

.mobile-up {
  left: 0;
}

.close-mobile {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}
.close-mobile:hover {
  transition: all 0.3s;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
}

.hero-section {
  width: 100%;
  height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
@media (max-width: 1000px) {
  .hero-content {
    padding-bottom: 20%;
  }
}
@media (max-width: 400px) {
  .hero-content {
    padding-bottom: 65%;
  }
}
.hero-content__text h1 {
  font-size: 5.5rem;
  color: #fff;
  max-width: 104rem;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  line-height: 1.1;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .hero-content__text h1 {
    font-size: 6rem;
  }
}
@media (max-width: 1000px) {
  .hero-content__text h1 {
    font-size: 5rem;
  }
}
@media (max-width: 750px) {
  .hero-content__text h1 {
    font-size: 3.125rem;
  }
}
@media (max-width: 450px) {
  .hero-content__text h1 {
    font-size: 2rem;
  }
}
.hero-content__text_small h1 {
  font-size: 1rem;
  color: #898CA9;
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  line-height: 1.5;
  margin: 20px auto;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .hero-content__text_small h1 {
    font-size: 1.3rem;
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .hero-content__text_small h1 {
    font-size: 1rem;
    width: 60%;
  }
}
@media (max-width: 750px) {
  .hero-content__text_small h1 {
    font-size: 1rem;
    width: 60%;
  }
}
@media (max-width: 450px) {
  .hero-content__text_small h1 {
    font-size: 1rem;
    width: 70%;
  }
}

.btn-main-big {
  width: 156px;
  height: 56px;
  margin: 20px auto;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-main-big:hover {
  box-shadow: -2px 2px 10px 0px #fff;
}
.btn-main-big:active {
  box-shadow: -2px 2px 10px 0px #933FFE;
}
@media (max-width: 1000px) {
  .btn-main-big {
    display: none;
  }
}

.btn-secondary-big {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 56px;
  border: 1px solid #fff;
  background-image: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.btn-secondary-big:hover {
  box-shadow: -2px 2px 10px 0px #fff;
}
.btn-secondary-big:active {
  box-shadow: -2px 2px 10px 0px #933FFE;
}
@media (max-width: 1000px) {
  .btn-secondary-big {
    display: none;
  }
}

.coin-slider {
  width: 100%;
  height: 20rem;
  align-items: center;
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .coin-slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}
@media (max-width: 600px) {
  .coin-slider {
    display: none;
  }
}

.slider-coin {
  font-size: 0.875rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 750px) {
  .slider-coin {
    margin: 0 auto;
  }
}
.slider-coin img {
  width: 9rem;
  height: 9rem;
  margin-bottom: 1rem;
}
.slider-coin__name {
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.slider-coin__name span {
  color: #0DBB7C;
}
.slider-coin__price {
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.red-text {
  color: #FF8282 !important;
}

.green-text {
  color: #0DBB7C !important;
}

.mobile-btn-hero {
  display: none;
  font-size: 2rem;
  font-weight: 600;
  width: 25rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 4rem;
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  color: #f3f2f4;
  border-radius: 10rem;
  transition: all 0.2s;
  margin: 0 auto;
  margin-top: 3rem;
}
@media (max-width: 600px) {
  .mobile-btn-hero {
    display: flex;
  }
}

.market-section {
  padding: 5rem 0;
}

.market-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.market-content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 60%;
  margin: 0 auto 3rem;
}
.market-content__text h2 {
  text-align: center;
  color: #fff;
  font-size: 3.125rem;
  margin-bottom: 3rem;
}
@media (max-width: 430px) {
  .market-content__text h2 {
    font-size: 1.25rem;
  }
}
.market-content__text p {
  width: 70%;
  text-align: center;
  font-size: 1rem;
  color: #898CA9;
}
.market-content__coin-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-x: auto;
  background-color: #1A1B23;
  border-radius: 20px;
}
.market-content__coin-list__row {
  display: flex;
  flex-direction: column;
}
.market-content__coin-list__pagination {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.market-content__coin-list__pagination button {
  font-size: 0.875rem;
  color: #898CA9;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #898CA9;
  background-color: transparent;
}
.market-content .activePage {
  background: #933FFE;
  color: #fff;
}
.market-content .coin-row {
  display: grid;
  grid-template-columns: 10fr 10fr 20fr 10fr 20fr;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 2rem;
  text-align: right;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3019607843);
  align-items: center;
  gap: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s;
}
.market-content .coin-row:hover {
  transition: all 0.3s;
  background-color: rgba(39, 39, 69, 0.5647058824);
  cursor: pointer;
}
@media (max-width: 700px) {
  .market-content .coin-row {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 800px) {
  .market-content .coin-row p:last-child {
    width: 23rem;
  }
}
@media (max-width: 800px) {
  .market-content .coin-row p {
    width: 15rem;
  }
}
.market-content .coin-row span {
  text-align: left;
  align-items: center;
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .market-content .coin-row span {
    width: 19rem;
  }
}
.market-content .coin-row span img {
  width: 2.5rem;
  height: 2.5rem;
}
.market-content .coin-symbol {
  text-transform: uppercase;
  color: #B982FF;
}

.why-section {
  margin: 5rem 0;
}
@media (max-width: 700px) {
  .why-section {
    padding: 0rem;
  }
}

.choose-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.choose-container h2 {
  font-size: 3.125rem;
  color: #fff;
  font-family: 0.75rem;
  margin: 0 auto 2rem;
}
.choose-container__content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
  font-size: 2.5rem;
  width: 100%;
  height: auto;
  gap: 2rem;
}
@media (max-width: 1100px) {
  .choose-container__content {
    grid-template-columns: 1fr;
  }
}

.choose-box {
  border-radius: 2.4rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 400px) {
  .choose-box {
    gap: 2rem;
  }
}
.choose-box h4 {
  font-size: 2rem;
  text-align: center;
}
.choose-box p {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: #898CA9;
}
.choose-box i {
  background: linear-gradient(to bottom left, #505455 0%, rgba(188, 188, 188, 0.6) 100%);
  color: #B982FF;
  display: flex;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  padding: 1.5rem;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #898CA9;
}
.choose-box a {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: #B982FF;
  cursor: pointer;
  display: inline-block;
  transition: all 0.4s ease-in-out;
}
.choose-box a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #B982FF;
  transition: 300ms;
}
.choose-box a:hover::after {
  width: 100%;
}

.start-section {
  padding: 10rem;
  height: -moz-fit-content;
  height: fit-content;
}

.start-content {
  color: #f3f2f4;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.start-content .start-content__info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10%;
  margin-bottom: 10rem;
}
.start-content .start-content__info-text {
  text-align: left;
  line-height: 1.2;
  width: 65%;
}
.start-content .start-content__info-text h2 {
  font-size: 3.125rem;
  margin-bottom: 2rem;
}
.start-content .start-content__info-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #898CA9;
}
.start-content .start-content__info-img {
  width: 25%;
  height: auto;
  background-image: url(/public/blue.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.start-content .start-content_subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.start-content .start-content_subscribe h2 {
  font-size: 3.125rem;
  margin-bottom: 2rem;
}
.start-content .start-content_subscribe p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #898CA9;
}
.start-content .start-content_subscribe p span {
  color: #fff;
  margin-left: 5px;
}
.start-content .start-content_subscribe p i {
  margin-left: 10px;
  font-size: 0.75rem;
}
.start-content .start-content_subscribe .email-wrap {
  background: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
  border-radius: 10px;
  width: 304px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-content .start-content_subscribe .email-wrap .email_input {
  width: 302px;
  height: 54px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  padding: 0 20px;
  color: #898CA9;
}
.start-content .start-content_subscribe .email-wrap .email_input:focus-visible {
  border: none;
  box-shadow: none;
  outline: none;
}
.start-content .start-content_subscribe .email-wrap i {
  color: #898CA9;
  position: absolute;
  left: 540px;
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.3019607843);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-content__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.3019607843);
  width: 30%;
}
.footer-content__info .footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  background-image: url(/public/logo-trp.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.footer-content__info p {
  text-align: start;
}
.footer-content__info .email-wrap {
  background: linear-gradient(to bottom left, #18C8FF 0%, #933FFE 100%);
  border-radius: 10px;
  width: 304px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content__info .email-wrap .email_input {
  width: 302px;
  height: 54px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  padding: 0 20px;
  color: #898CA9;
}
.footer-content__info .email-wrap .email_input:focus-visible {
  border: none;
  box-shadow: none;
  outline: none;
}
.footer-content__info .email-wrap i {
  position: absolute;
  left: 330px;
  cursor: pointer;
}
.footer-content__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.3019607843);
  width: 20%;
}
.footer-content__links p {
  cursor: pointer;
  text-align: start;
}
.footer-content__links p:hover {
  transition: all 0.3s;
  color: #898CA9;
}
.footer-content__policy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.3019607843);
  width: 20%;
}
.footer-content__policy p {
  cursor: pointer;
  text-align: start;
}
.footer-content__policy p:hover {
  transition: all 0.3s;
  color: #898CA9;
}

.coin-page {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}
@media (max-width: 1000px) {
  .coin-page {
    height: 150vh;
  }
}

.coin-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
}
@media (max-width: 1000px) {
  .coin-content {
    flex-direction: column;
    padding-top: 33rem;
  }
}
.coin-content__img-side {
  width: 30%;
  border-right: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .coin-content__img-side {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .coin-content__img-side {
    border-bottom: 2px solid #fff;
    border-right: none;
    padding-bottom: 3rem;
  }
}
.coin-content__img-side h2 {
  font-size: 2rem;
}
.coin-content__img-side p {
  font-size: 1rem;
  font-weight: 500;
}
.coin-content__img-side img {
  width: 12rem;
  height: 12rem;
}
.coin-content__text-side {
  width: 70%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .coin-content__text-side {
    width: 100%;
    padding: 2rem 1rem;
  }
}
.coin-content__text-side__24h, .coin-content__text-side__current, .coin-content__text-side__symbol {
  display: flex;
  font-size: 0.875rem;
  gap: 1rem;
  justify-content: center;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 600;
}
.coin-content__text-side__24h p span, .coin-content__text-side__current p span, .coin-content__text-side__symbol p span {
  color: #fff;
  text-transform: uppercase;
}
.coin-content__text-side__symbol span {
  text-transform: uppercase;
}

.numb {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1000px) {
  .numb {
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}

.description {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  height: 20rem;
  overflow-y: auto;
  margin-top: 4rem;
  text-align: left;
}
.description a {
  color: #0DBB7C;
  transition: all 0.2s ease-in-out;
}
.description a:hover {
  transition: all 0.3s ease-in-out;
  color: #898CA9;
}/*# sourceMappingURL=styles.css.map */