@use "../global/" as *;

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 0;

  @media (max-width: 550px) {
    margin: 50px 0;
  }
}

.footer-content {
  display: flex;
  flex-direction: row;
  color: $white-trp-color;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 550px) {
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    font-size: $text-medium;
    color: $white-trp-color;
    width: 30%;

    @media (max-width: 800px) {
      font-size: $text-small;
    }

    @media (max-width: 550px) {
      width: 100%;
    }

    .footer_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 30px;
      background-image: url(/public/logo-trp.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    p {
      text-align: start;
    }

    .email-wrap {
      background: $purple-blue-gradient;
      border-radius: 10px;
      width: 200px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 800px) {
        font-size: $text-small;
        width: 200px;
        height: 40px;
      }

      .email_input {
        width: 198px;
        height: 38px;
        border: none;
        border-radius: 10px;
        background-color: $black-color;
        padding: 0 20px;
        color: $grey-color;

        @media (max-width: 800px) {
          width: 198px;
          height: 38px;
        }

        &:focus-visible {
          border: none;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    font-size: $text-medium;
    color: $white-trp-color;
    width: 20%;

    @media (max-width: 800px) {
      font-size: $text-small;
    }

    @media (max-width: 550px) {
      width: 20%;
    }

    p {
      cursor: pointer;
      text-align: start;

      &:hover {
        transition: all 0.3s;
        color: $grey-color;
      }
    }
  }

  &__policy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    font-size: $text-medium;
    color: $white-trp-color;
    width: 20%;

    @media (max-width: 800px) {
      font-size: $text-small;
    }

    @media (max-width: 550px) {
      width: 60%;
    }

    p {
      cursor: pointer;
      text-align: start;

      &:hover {
        transition: all 0.3s;
        color: $grey-color;
      }
    }
  }
}
