@use "../global/" as *;

.market-section {
  margin-top: -250px;
  padding-top: 250px;
  margin-bottom: 30rem;
  height: 100vh;

  @media (max-width: 800px) {
    padding-top: 100px;
    margin-bottom: 100px;
  }

  @media (max-width: 550px) {
    margin-bottom: 7rem;
  }
}

.market-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 80%;

  @media (max-width: 800px) {
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 70%;
    margin: 0 auto 3rem;

    @media (max-width: 800px) {
      width: 85%;
    }
    @media (max-width: 400px) {
      width: 100%;
    }

    h2 {
      text-align: center;
      color: $white-color;
      font-size: $h2-size;
      margin-bottom: 3rem;

      @media (max-width: 800px) {
        font-size: $h3-size;
      }
      @media (max-width: 550px) {
        font-size: $h4-size;
      }
    }

    p {
      width: 70%;
      text-align: center;
      font-size: $text-big;
      color: $grey-color;

      @media (max-width: 550px) {
        font-size: $text-medium;
      }
    }
  }

  &__coin-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: auto;
    background-color: $dark-grey-color;
    border-radius: 20px;

    &__row {
      display: flex;
      flex-direction: column;
    }

    &__pagination {
      display: flex;
      gap: 1.3rem;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;

      button {
        font-size: $text-medium;
        color: $grey-color;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid $grey-color;
        background-color: transparent;

        @media (max-width: 400px) {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .activePage {
    background: $purple-color;
    color: $white-color;
  }

  .coin-row {
    display: grid;
    grid-template-columns: 10fr 0fr 20fr 10fr 20fr;
    color: $white-color;
    font-size: $h4-size;
    font-weight: $semiBold;
    padding: 2rem;
    text-align: right;
    width: 100%;
    height: auto;
    border-bottom: 1px solid $white-trp-color;
    align-items: center;
    gap: 1.5rem;
    user-select: none;
    transition: all 0.3s;

    @media (max-width: 800px) {
      grid-template-columns: 2fr 2fr 4fr 4fr 4fr;
    }

    @media (max-width: 550px) {
      grid-template-columns: 10fr 13fr 10fr 13fr;
      padding: 1.5rem 0.7rem;
      gap: 0.6rem;
    }
    @media (max-width: 400px) {
      grid-template-columns: 10fr 13fr 10fr;
    }

    &:hover {
      transition: all 0.3s;
      background-color: $black-trp-color;
      cursor: pointer;
    }

    p:last-child {
      @media (max-width: 800px) {
        width: 3rem;
      }
      @media (max-width: 550px) {
        font-size: $text-medium;
        width: 2rem;
      }
      @media (max-width: 400px) {
        display: none;
      }
    }

    p {
      @media (max-width: 800px) {
        font-size: $text-big;
        width: 3rem;
      }

      @media (max-width: 550px) {
        font-size: $text-medium;
        width: 2rem;
      }
    }

    i {
      margin-left: 15px;
      font-size: 0.8rem;

      @media (max-width: 550px) {
        display: none;
      }
    }

    span {
      text-align: left;
      align-items: center;
      display: flex;
      gap: 2rem;

      @media (max-width: 800px) {
        width: 2rem;
      }

      @media (max-width: 550px) {
        display: none;
      }

      img {
        width: 2.5rem;
        height: 2.5rem;

        @media (max-width: 800px) {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .coin-symbol {
    text-transform: uppercase;
    color: $pink-color;

    @media (max-width: 800px) {
      width: 2rem;
    }
  }

  .coin-trade {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 800px) {
      justify-content: flex-start;
    }
  }
}
