@use "../global/" as *;

.support-section {
  margin-top: -250px;
  padding-top: 250px;
  margin-bottom: 10rem;
  height: fit-content;

  @media (max-width: 800px) {
    padding-top: 260px;
    margin-bottom: 400px;
  }

  @media (max-width: 550px) {
    padding-top: 260px;
    margin-bottom: 400px;
  }
  @media (max-width: 400px) {
    padding-top: 230px;
    margin-bottom: 300px;
  }
}

.support-content {
  color: $white-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;

  .support-content__info {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 10%;
    margin-bottom: 4rem;

    .support-content__info-text {
      text-align: left;
      line-height: 1.2;
      width: 65%;

      h2 {
        font-size: $h2-size;
        margin-bottom: 2rem;

        @media (max-width: 800px) {
          font-size: $h3-size;
        }
        @media (max-width: 550px) {
          font-size: $h4-size;
        }
      }
      p {
        font-size: $text-big;
        line-height: 1.5;
        margin-bottom: 1rem;
        color: $grey-color;
        @media (max-width: 550px) {
          font-size: $text-medium;
        }
      }
    }
  }

  .support-content__info-img {
    width: 25%;
    height: auto;
    background-image: url(/public/orange.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .support-content_subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: $h2-size;
      margin-bottom: 2rem;
    }
    p {
      font-size: $text-big;
      line-height: 1.5;
      margin-bottom: 1rem;
      color: $grey-color;

      span {
        color: $white-color;
        margin-left: 5px;
      }
      i {
        margin-left: 10px;
        font-size: $text-small;
      }
    }

    .email-wrap {
      background: $purple-blue-gradient;
      border-radius: 10px;
      width: 304px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;

      .email_input {
        width: 302px;
        height: 54px;
        border: none;
        border-radius: 10px;
        background-color: $black-color;
        padding: 0 20px;
        color: $grey-color;

        &:focus-visible {
          border: none;
          box-shadow: none;
          outline: none;
        }
      }
      i {
        color: $grey-color;
        position: absolute;
        left: 540px;
        cursor: pointer;
      }
    }
  }
}
